/*--@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';--*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	color: #67727A;
	margin: 0;	
}
h2 {
	color: #F5F5F5;
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	font-family: sans-serif;
}
h3 {
	color: #F5F5F5;
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400;
	font-family: sans-serif;
}
p {
	color: #F5F5F5;
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
	font-family: sans-serif;
	text-decoration: none;
}
img {
	max-width: 100%;
	width: auto;
	height: auto;
	z-index: -4px;
}
header {
	background: url('../img/banner1.png') no-repeat center;
	width: 100%;
	height: 1px;	
}
#header-wrapper {
	max-width: 1200px;
	margin: 0 auto;	
}
#logo {
	margin: 20px;
	float: left;
	width: 145px;
	height: 100px;	
	background: url('../img/m9.png') no-repeat center;
}
/*-- Navigator--*/
nav {
	float: right;
	padding: 25px 20px 0 0;
}
#menu-icon{
	display: hidden;
	width: 40px;
	height: 40px;
	background: url('../img/nav.png') center;
}
a:hover#menu-icon{
	border-radius: 4px 4px 0;
}
ul{
	list-style: none;
}
nav ul li{
	font-size: 100%;
	display: inline-block;
	float: left;
	padding: 20px;
}
nav ul li a {
	color: #F5F5F5;	
	text-decoration: none;		
	font-weight: bold;
    font-family: Verdana;    
    text-shadow: 1px 1px black;  
}
nav ul li a:hover{
	color: #C3D7DF;
	text-decoration: none;
	text-decoration: overline;
}
.current{
	color: #C3D7DF;
}
/*---Banner--*/
.banner {
	width: 100%;
	height: auto;
	background: url('../img/banner1.png') no-repeat center;
}
.banner-inner{
	max-width: 1111px;
	margin: 0 auto;
}
#img-banner{
	border-radius: 50%;
	position: absolute;
	width: 100px;
	margin: 200px 0 0 0;
	box-shadow: 0 0 20px 0.50px #000;
}
#img-banner-second{
	border-radius: 50%;
	width: 10%;
	width: 100px;
	position: absolute;
	margin: 200px 0 0 150px;
	box-shadow: 0 0 20px 0.50px #000;
}
#img-banner-third{
	border-radius: 50%;
	width: 10%;
	width: 100px;
	position: absolute;
	margin: 300px 0  0 75px;
	box-shadow: 0 0 20px 0.50px #000;
}


/*--Section--*/
.inner-wrapper3{
	width: 100%;
	float: left;
}
.one-third{
	float: left;
	width: 33.333333333333%;
	text-align: center;
}
#inner-wrapper3-one{
	background-color: #A2B2C2;
}
#inner-wrapper3-two{
	background-color: #F1AA90;
}
#inner-wrapper3-three{
	background-color: #BEB9AD;
}

.section-css{
	width: 25%;
	float: left;
	text-align: center;
}
#html5 {
	background-color: #F1AA90;
}
#css {
	background-color: #BEB9AD;
}
#seo {
	background-color: #A2B2C2;
}
#social {
	background-color: #AADCD2;
}
.section-css i {
	color: #F0F0F0;
	font-size: 300%;
	padding: 13% 0% 4% 0%;
}

.inner-wrapper{
	float: left;
	width: 100%;
	background: #c9512e url(../img/noise.png);
}
article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
}
aside {
    float: left;
    width: 50%;
    height: auto;
}
#curios2{	
	background-color: #A2B2C2;
    box-shadow: 0 0 20px 0.50px #000;
}
#bulb2{
	background-color: #F1AA90;
	box-shadow: 0 0 20px 0.50px #000;
}
#sort2{
	background-color: #BEB9AD;
	box-shadow: 0 0 20px 0.50px #000;
}

/*--Footer--*/
footer{

}
.social{
	list-style: none;
	text-align: center;
}
.social li{
	display: inline;
}
.social i{
	font-size: 250%;
	margin: 1%;
	padding: 2%;
	color: #C3D7DF;
}
.social i:hover{
	color: #F5F5F5;
}
footer.socket{
	background-color: rgba(4,118,202,1);
	max-height: 200px;
	margin: 0;	
}
footer.socket p{
	padding: 15px 0 9px 0;
	text-align: center;
	font-size: 20px;
}
.clearfix{
	clear: both;
}

/*--Media--*/
@media screen and (max-width: 768px){
   h2{
   	font-size: 150%;
   }
   h3{
   	font-size: 125%;
   }
   p{
   	font-size: 120%;
   }
   header{
   	position: absolute;
   }
   #logo{
   	margin: 15px 0 20px 25px;
   	background: url('../img/mobo-m9.png') no-repeat center;
   }
   #menu-icon{
   	display: inline-block;
   }
   nav ul, nav:active ul{
   	display: none;
   	z-index: 500;
   	position: absolute;
   	padding: 4px;
   	background: #6991AC;
   	right: 20px;
   	border: 1px solid #FFF;
   	border-radius: 10px 0 10px 10px;
   	width: 24%;
   }
   nav:hover ul{
   	display: block;
   }
   nav li {
   	text-align: center;
   	width: 100%;
   	padding: 5px 0;
   }
   nav ul li a {
	color: #F5F5F5;	
	font-size: 15px;
	text-decoration: none;		
	font-weight: bold;
    font-family: Verdana;    
    text-shadow: 1px 1px black;  
}
   .banner{
   	padding-top: 110px;
   }
   .section-css
   {
   	float: left;
   	width: 100%;
   }
   .section-css i{
   	font-size: 250%;
   	padding: 4% 0 1% 0;
   }
   article {
   	width: 100%;
   }
   aside{
   	width: 100%;
   }   
    #bulb{
    display: none;
   }
   .social i{
   	font-size: 100%;
   }
   footer.socket p{
   	font-size: 15px;
   }   
}

@media screen and (max-width: 800px){
#img-banner{
	border-radius: 50%;
	width: 10%;
	position: absolute;
	margin: 20px 0 0 20px;
	box-shadow: 0 0 20px 0.50px #000;
}
#img-banner-second{
	border-radius: 50%;
	width: 10%;
	position: absolute;
	margin: 20px 0 0 120px;
	box-shadow: 0 0 20px 0.50px #000;
}
#img-banner-third{
	border-radius: 50%;
	width: 10%;
	position: absolute;
	margin: 100px 0  0 70px;
	box-shadow: 0 0 20px 0.50px #000;
}
}
@media screen and (max-width: 366px){
#img-banner{
	display: none;
}
#img-banner-second{
	display: none;
}
#img-banner-third{
	display: none;
}
}